/* ===========================================
   Main
   =========================================== */

/* top */

#main_top {
   padding: 30px 15px 0 15px;
}

#main_top h2 {
   font-weight: bold;
   text-transform: uppercase;
}

address {
   font-size: 14px;
   font-style: normal;
   line-height: 1.6;
   margin-bottom: 20px;
}

/* bottom */

#main_bottom {
   padding: 30px 15px 0 15px;
}

iframe {
   border: none;
   width: 465px;
}

#bottom_content{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

/* form */

form label {
   font-size: 16px;
   font-style: italic;
}

form input {
   padding: 7px;
}

input[type=text] {
   width: 400px;
}
input[type=email] {
   width: 400px;
}
input[type=tel] {
   width: 400px;
   
}
input[type=date] {
   width: 400px;
   
}
input[type=time] {
   width: 400px;
   
}

 


