/**
 * Layout styles for Desert Tours
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* GENERAL */

/* ======= */

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}





/* HEADER */

/* ====== */

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



nav ul li {
    padding-left: 20px;
}

/* MAIN */

/* ====== */





#content .left img {
    float: left;
    margin-right: 5px;
}

#content .right img {
    float: right;
    margin-left: 5px;
}

/* CONTENT */

/* ======= */

/* DOORMAT */

/* ======= */




/* FOOTER */

/* ======= */




@media(min-width: 750px){
    nav ul {
        display: flex;
    }
    #content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #content .right {
        max-width: 30%;
    }
    
    #content .left {
        max-width: 65%;
    }
    #gallery ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    #gallery li {
        max-width: 23%;
        margin-bottom: 10px;
    }
    #doormat .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    footer .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}